*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c-primary{
  color: #5fcf80;
  text-decoration: none;
}
.c-bg{
  background: #5fcf80;
  border: none;
}
.c-bg:hover{
  background: #5fcf80;
}
.c-primary:hover{
  color: #5fcf80;
}
.intro{
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#about li{
  list-style-image: url('../images/check-circle.svg');
}
#counts{
  background: #f6f7f6;
}
.circle{

}
.circle{
  margin: 0 auto;
  align-items: center;
  height: 70px;
  width: 70px;
  background: #ecf9f0;
}
.xx:hover{
  transition: all ease-in-out .25s;
  outline: #5fcf80 solid .2px;
  color: #5fcf80;
}
.xx > div > h3,
.title p,
.fnt{
  font-size: 1rem !important;
  font-weight: 600;
}
.title p::after {
  content: "";
  width: 80px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}
.trainer-profile img{
  width: 3rem;
}
.profile-icons a{
  text-decoration: none;
  color: #000;
}
.social a{
  text-decoration: none;
  color: #7e9486;
}
.social a:hover{
  color: #5fcf80;
  transition: all ease-in-out .25s;
}
.course-detail h2:hover{
  color: #5fcf80;
  transition: all ease-in-out .15s;
}
.footer-form{
  width: 100%;
  margin-top: 30px;
  background: #fff;
  padding: 10px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;
}
form input[type="email"]{
  border: 0;
}
form input[type="submit"]{
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #5fcf80;
  color: #fff;
  transition: 0.3;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
form input[type="submit"]:hover{
  background: #3ac162;
  transition: all ease-in-out .25s;
}
footer li{
  list-style: none;
}
footer a{
  text-decoration: none;
  color: #777;
}
